@using Microsoft.AspNetCore.Identity;
@using RAZOR_EF.Models;

@inject SignInManager<AppUser> signinManager
@inject UserManager<AppUser> userManager

@if (!signinManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </li>
    </ul>
}
else
{
     <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-success" asp-area="Identity" asp-page="/Account/Manage/Index"><strong>@userManager.GetUserName(User)</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">Log out ➜</a>
        </li>
    </ul>
}