@page
@model RAZOR_EF.Areas.Admin.Role.EditModel

@{
    ViewData["Title"] = "Edit";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="Input.Id" /> *@
            <div class="form-group my-2">
                <label asp-for="Input.Name" class="control-label" style="font-weight: 500;"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Input.Description" class="control-label" style="font-weight: 500;"></label>
                <textarea asp-for="Input.Description" class="form-control" style="height: 15rem;"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group my-4" style="display: flex; align-items: center;">
                <a class="btn btn-outline-secondary" asp-page="./Index">@("< Back")</a>
                <input type="submit" value="Save" class="btn btn-primary px-4" style="margin-left: auto;"/>
            </div>
        </form>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
