@page
@model App.Areas.Admin.User.CreateClaimModel

@{
    ViewData["Title"] = "Create claim";
}
<h3>Create new claim</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-4">
                <label asp-for="Input.Type" class="form-label" style="font-weight: 500;"></label>
                <input asp-for="Input.Type" class="form-control" />
                <span asp-validation-for="Input.Type" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label asp-for="Input.Value" class="form-label" style="font-weight: 500;"></label>
                <textarea asp-for="Input.Value" class="form-control" style="height: 15rem;"></textarea>
                <span asp-validation-for="Input.Value" class="text-danger"></span>
            </div>
            <div class="form-group my-4" style="display: flex; align-items: center;">
                <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@Model.User.Id">@("< Back")</a>
                <input type="submit" value="Create" class="btn btn-primary px-4" style="margin-left: auto;"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
