@page "/ConfirmEmail/"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<h2>Email Confirmation</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a class="btn btn-primary" asp-area="" asp-page="/Index">@("< Back to home")</a>
