@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    var message = "Request has been sent. Please check your email to reset your password.";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="message"/>
<a class="btn btn-outline-secondary" asp-page="./ForgotPassword" style="text-decoration: none;">@("< Back")</a>
<a class="btn btn-primary mx-2" href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Go to Gmail</a>