@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    var message = "Your password has been reset.";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="message"/>
<a class="d-block btn btn-primary" style="width: fit-content;" asp-page="./Login">Log in now</a>
